<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5 mb-5" data-aos="fade-in">
      <div
        class="col-lg-6 order-2 order-lg-2 d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <h2>Sugeng Rawuh!</h2>
        <p>Selamat datang di website Robotika Smaboy (RoBoys).</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a
            href="https://robotika.sman1boyolangu.sch.id/join.html"
            target="_blank"
            class="btn-get-started"
            >Join #RoBoys</a
          >
        </div>
      </div>

      <div class="col-lg-6 order-1 order-lg-1">
        <img
          src="assets/img/logo.png"
          class="hero-img img-fluid"
          alt=""
          data-aos="zoom-out"
          data-aos-delay="100"
          width="50%"
          height="50%"
        />
      </div>
    </div>
  </div>
</section>
