<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5 mb-5" data-aos="fade-in">
      <div
        class="col-lg-6 order-2 order-lg-2 d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <h2>{{ page.hero_title }}</h2>
        <p>{{ page.hero_description }}</p>
        {% if page.cta_link %}
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="{{ page.cta_link }}" target="_blank" class="btn-get-started"
            >{{ page.cta_text }}</a
          >
        </div>
        {% endif %}
      </div>

      {% if page.hero_image %}
      <div class="col-lg-6 order-1 order-lg-1">
        <img
          src="{{ page.hero_image }}"
          class="hero-img img-fluid"
          alt=""
          data-aos="zoom-out"
          data-aos-delay="100"
          width="50%"
          height="50%"
        />
      </div>
      {% endif %}
    </div>
  </div>
</section>
